{
	"Debug": false,
	"DataSourceName": "user=postgres password= dbname=cycle2u sslmode=disable",
	"WebPort": 8070,
	"PostMail": false,
	"Mail": {
		"Port": 465,
		"Host": "localhost",
		"Username": "",
		"Password": ""
		},
	"SMS": {
		"Username": "",
		"Password": "",
		"Destination": ""
	}
}